
.idea/
.vscode/
.ai/
.DS_Store
/.ai/mcp/mcp.json
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore

__pycache__/
.ipynb_checkpoints/
/.venv/
/venv/

/Python - Analysing Wikipedia Pages/results.csv
/Python - Analysing Wikipedia Pages/wiki
/Python and SQLite3 - Fundraising Deals/crunchbase-investments.db
/Python - Analysing Stock Prices/prices/
